// COLORS
$color-primary:#16c7ff;
$color-primary-dark:#1884a5;

$color-secondary: #fbff09;
$color-secondary-dark: #cccf09;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: rgb(228, 226, 226);

$color-grey-dark: #777;
$color-grey-dark-2:#999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;