<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pocket Jobs - History</title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Raleway:100,300,500,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Baloo+Chettan+2:wght@500&family=Inconsolata:wght@900&family=Pangolin&family=Luckiest+Guy&family=Rokkitt:wght@500&display=swap" rel="stylesheet"> 
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css" />
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.20/datatables.min.css"/>
        <link rel="stylesheet" href="/css/app.css">
</head>
<body>

<div class="wrapper">
    {{>sidebar}}
    <div id="content">
        <section>
            <div id="header" class="py-2 px-5 container-fluid">
                <h1 class="display-4">HISTORY</h1>
                <p class="lead d-none d-sm-block">The complete historical scoreboard of all teams for every season.</p>                  
            </div>
        </section>
        <section id="top">

            <div class="text-center">
                <h2 class="heading-secondary m-4">
                    League Records
                </h2>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="shadow card bg-dark card__history">
                        <div class="card-header">
                            <h3>Records</h3>
                        </div>
                        {{>records}}
                    </div>
                </div>
            </div>
            <div class="text-center">
                <h2 class="heading-secondary m-4">
                    Season Totals
                </h2>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div id="card_points" class="shadow card bg-dark card__history">
                        <div class="card-header">
                            <div class="row text-center">
                            <h3>Regular Season Points</h3>
                                <div class="pl-5 btn-group">
                                    <button id="btn_points" type="button" class="btn btn-points dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">2017</button>
                                    <div class="dropdown-menu btn-dropdown bg-dark">
                                        <a id="2017" class="dropdown-item" href="#">2017</a>
                                        <a id="2018" class="dropdown-item" href="#">2018</a>
                                        <a id="2019" class="dropdown-item" href="#">2019</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{>total_2017}}
                        {{>total_2018}}
                        {{>total_2019}}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div id="card_playoffs" class="shadow card bg-dark card__history">
                        <div class="card-header">
                            <h3>Trips to the Playoffs</h3>
                        </div>
                        {{>playoffs}}
                    </div>
                </div>
                <div class="col-lg-4">
                    <div id="card_losses10" class="shadow card bg-dark card__history">
                        <div class="card-header">
                            <h3>Losses Within 10 points</h3>
                        </div>
                        {{>lossesWithin10}}
                    </div>
                </div>
                <div class="col-lg-4">
                    <div id="card_losses5" class="shadow card bg-dark card__history">
                        <div class="card-header">
                            <h3>Losses Within 5 Points</h3>
                        </div>
                        {{>lossesWithin5}}
                    </div>
                </div>
            </div>
        </section>
        
    </div>
</div>


































        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
        <script src="bootstrap/dist/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.20/datatables.min.js"></script>

        <script>
            $(document).ready(function(){
                $('#tbl_2017').DataTable( {
                    "paging": false,
                    "searching": false,
                    "info": false,
                    "columns": [
                        {"orderable": false},
                        null,
                        null,
                        null
                    ],
                    "order": [[1, "desc"]]
                });
            });

            $(document).ready(function(){
                $('#tbl_2018').DataTable( {
                    "paging": false,
                    "searching": false,
                    "info": false,
                    "columns": [
                        {"orderable": false},
                        null,
                        null,
                        null
                    ],
                    "order": [[1, "desc"]]
                });
            });

            $(document).ready(function(){
                $('#tbl_2019').DataTable( {
                    "paging": false,
                    "searching": false,
                    "info": false,
                    "columns": [
                        {"orderable": false},
                        null,
                        null,
                        null
                    ],
                    "order": [[1, "desc"]]
                });
            });

            $(document).ready(function(){
                $('#tbl_playoffs').DataTable( {
                    "paging": false,
                    "searching": false,
                    "info": false,
                    "columns": [
                        {"orderable": false},
                        {"orderable": false},
                        null
                    ],
                    "order": [[2, "desc"]]
                });
            });

            $(document).ready(function(){
                $('#tbl_lossesWithin10').DataTable( {
                    "paging": false,
                    "searching": false,
                    "info": false,
                    "columns": [
                        {"orderable": false},
                        null
                    ],
                    "order": [[1, "desc"]]
                });
            });

            $(document).ready(function(){
                $('#tbl_lossesWithin5').DataTable( {
                    "paging": false,
                    "searching": false,
                    "info": false,
                    "columns": [
                        {"orderable": false},
                        null
                    ],
                    "order": [[1, "desc"]]
                });
            });


            $('.dropdown-item').click(function(event){

                 var button = this.id;
                 
                 $('#btn_points').text(button)
                 //$('button').addClass('btn-secondary')
                 //$('#'+button).removeClass('btn-secondary active')
                 //$('#'+button).addClass('btn-primary active')
                 //$('#'+button).addClass('.active')

                 moveToNextSection(event, this.id);

            })
               


            function moveToNextSection(event, year){
                event.preventDefault();
                //var currentTableId = $('#content').find('table').attr('id');
                //console.log('current table ' +currentTableId)
                console.log(year);

                $('#card_points').find('table').addClass('d-none');
                $('#tbl_' +year).removeClass('d-none d-none')
            }

        </script>


</body>
</html>