<table id="tbl_lossesWithin5" class="card-table table table-striped display compact">
      <thead class="thead-light">
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Losses</th>
        </tr>
      </thead>
      <tbody>
            <tr>
                <td>Erik</td>
                <td>1</td>
            </tr>
            <tr>
                <td>Kevin</td>
                <td>2</td>
            </tr>
            <tr>
                <td>Matt</td>
                <td>3</td>
            </tr>
            <tr>
                <td>Conner</td>
                <td>3</td>
            </tr>
            <tr>
                <td>Duncan</td>
                <td>4</td>
            </tr>
            <tr>
                <td>Nick</td>
                <td>2</td>
            </tr>
            <tr>
                <td>Seth</td>
                <td>2</td>
            </tr>
            <tr>
                <td>Morgan</td>
                <td>0</td>
            </tr>
      </tbody>
</table>