<table id="tbl_lossesWithin10" class="table table-dark table__points">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Losses</th>
        </tr>
      </thead>
      <tbody>
            <tr>
                <td><img class="user user-sm" src="/images/erik_thumb.png" alt="Erik"> Erik</td>
                <td>3</td>
            </tr>
            <tr>
                <td><img class="user user-sm" src="/images/kevin_thumb.png" alt="Kevin"> Kevin</td>
                <td>2</td>
            </tr>
            <tr>
                <td><img class="user user-sm" src="/images/matt_thumb.png" alt="Matt"> Matt</td>
                <td>5</td>
            </tr>
            <tr>
                <td><img class="user user-sm" src="/images/conner_thumb.png" alt="Conner"> Conner</td>
                <td>8</td>
            </tr>
            <tr>
                <td><img class="user user-sm" src="/images/duncan_thumb.png" alt="Duncan"> Duncan</td>
                <td>6</td>
            </tr>
            <tr>
                <td><img class="user user-sm" src="/images/nick_thumb.png" alt="Nick"> Nick</td>
                <td>3</td>
            </tr>
            <tr>
                <td><img class="user user-sm" src="/images/seth_thumb.png" alt="Seth"> Seth</td>
                <td>2</td>
            </tr>
            <tr>
                <td><img class="user user-sm" src="/images/morgan_thumb.png" alt="Morgan"> Morgan</td>
                <td>2</td>
            </tr>
      </tbody>
</table>