
        <!-- Sidebar  -->
        <nav id="sidebar" >
            <div class="sidebar-header">
                <h3>Pocket Jobs</h3>
                <strong>PJ</strong>
            </div>

            <ul class="list-unstyled components">
                {{!-- <li class="active">
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <i class="fas fa-home"></i>
                        Home
                    </a>
                </li> --}}
                <li>
                    <a href="#">
                        <i class="fas fa-home"></i>
                        Home
                    </a>
                    <a href="#">
                        <i class="fas fa-briefcase"></i>
                        About
                    </a>
                    <a href="#memberSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <i class="fas fa-user-alt"></i>
                        Members
                    </a>
                    <ul class="collapse list-unstyled" id="memberSubmenu">
                        <li>
                            <a href="#">Kevin</a>
                        </li>
                        <li>
                            <a href="#">Erik <i class="trophy fas fa-trophy"></i></a>                           
                        </li>
                        <li>
                            <a href="#">Conner</a>
                        </li>
                        <li>
                            <a href="#">Seth</a>
                        </li>
                        <li>
                            <a href="#">Duncan</a>
                        </li>
                        <li>
                            <a href="#">Nick <i class="poop fas fa-poo"></i></a>
                        </li>
                        <li>
                            <a href="#">Morgan</a>
                        </li>
                        <li>
                            <a href="#">Matt</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="http://localhost:3000/history">
                        <i class="fas fa-book"></i>
                        History
                    </a>
                </li>
                <li class="d-none d-sm-block">
                    <a href="#">
                        <i class="fas fa-football-ball"></i>
                        Head-to-Head
                    </a>
                </li>
                <li class="d-block d-sm-none">
                    <a href="#">
                        <i class="fas fa-football-ball"></i>
                        H2H
                    </a>
                </li>
                <li>
                    <a href="http://localhost:3000/standings">
                        <i class="far fa-chart-bar"></i>
                        Standings
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fas fa-paper-plane"></i>
                        Contact
                    </a>
                </li>
            </ul>

            <ul class="list-unstyled CTAs">
                <li>
                    <a type="button" href="https://fantasy.espn.com/football/league?leagueId=606204" class="btn btn-outline-primary text-center">LEAGUE HOME</a>
                </li>
            </ul>
        </nav>
