<table id="tbl_2019" class="d-none card-table table table-striped display compact">
    <thead class="thead-light">
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Points For</th>
        <th scope="col">Points Against</th>
        <th scope="col">Difference</th>
    </tr>
    </thead>
    <tbody>
    {{#each points}}
        {{#equal year 2019}}
            <tr>
                <td>{{name}}</td>
                <td>{{pointsFor}}</td>
                <td>{{pointsAgainst}}</td>
                <td>{{difference}}</td>
            </tr>
        {{/equal}}
    {{/each}}
    </tbody>
</table>
