.panel {

    // FUNCTIONALITY
    perspective: 150rem;
    position: relative;
    height: 32rem;

    &__side {
        height: 30rem;
        transition: all .8s ease;
        position: absolute;
        top: 0;
        left: 0;
        width:75%;
        margin: 0px 20px;
        backface-visibility: hidden;
        border-radius: 3px;
        overflow: hidden;   // this image is overflowing the parent in the corners. So this will hide the parts of the image so we get the rounded edges again.
        box-shadow: 0 1.5rem 4rem rgba($color-black, .15);

        @include respond(desktop) {
            margin: 0px 50px;
            width:100%;
          }

        &--front {
            background-color: $color-white;


        }

        &--back {
            transform: rotateY(180deg);

            &-1 {
                background-image: linear-gradient(to right bottom, $color-primary, $color-primary-dark);
            }

            &-2 {
                background-image: linear-gradient(to right bottom, $color-primary, $color-primary-dark); 
                }

            &-3 {
                background-image: linear-gradient(to right bottom, $color-primary, $color-primary-dark); 
                }

            &-4 {
                background-image: linear-gradient(to right bottom, $color-primary, $color-primary-dark);
                }

            &-5 {
                background-image: linear-gradient(to right bottom, $color-primary, $color-primary-dark);
                }

            &-6 {
                background-image: linear-gradient(to right bottom, $color-primary, $color-primary-dark); 
                }

            &-7 {
                background-image: linear-gradient(to right bottom, $color-primary, $color-primary-dark);
                }

            &-8 {
                background-image: linear-gradient(to right bottom, $color-primary, $color-primary-dark);
                }

        }
    }


    &:hover &__side--front {
        transform: rotateY(-180deg);
    }

    &:hover &__side--back {
        transform: rotateY(0);
    }

    //  FRONT SIDE STYLING
    &__picture {
        background-size: cover;
        height: 15rem;
        background-blend-mode: screen;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;

        &--1 {
            // background-image: linear-gradient(to right bottom, $color-grey-light-2, $color-grey-dark-2), 
            // url(../images/Kevin.jpg);
            background-image: url(../images/Kevin.jpg);
        }

        &--2 {
            // background-image: linear-gradient(to right bottom, $color-grey-light-2, $color-grey-dark-2), 
            // url(../img/nat-6.jpg);
            background-image: url(../images/Duncan.jpg);
        }

        &--3 {
            // background-image: linear-gradient(to right bottom, $color-grey-light-2, $color-grey-dark-2), 
            // url(../img/nat-7.jpg);
            background-image: url(../images/Matt.jpg);
        }

        &--4 {
            // background-image: linear-gradient(to right bottom, $color-grey-light-2, $color-grey-dark-2), 
            // url(../img/nat-7.jpg);
            background-image: url(../images/Nick.jpg);
        }

        &--5 {
            // background-image: linear-gradient(to right bottom, $color-grey-light-2, $color-grey-dark-2), 
            // url(../img/nat-7.jpg);
            background-image: url(../images/Conner.jpg);
        }

        &--6 {
            // background-image: linear-gradient(to right bottom, $color-grey-light-2, $color-grey-dark-2), 
            // url(../img/nat-7.jpg);
            background-image: url(../images/Morgan.jpg);
        }

        &--7 {
            // background-image: linear-gradient(to right bottom, $color-grey-light-2, $color-grey-dark-2), 
            // url(../img/nat-7.jpg);
            background-image: url(../images/Seth.jpg);
        }

        &--8 {
            // background-image: linear-gradient(to right bottom, $color-grey-light-2, $color-grey-dark-2), 
            // url(../img/nat-7.jpg);
            background-image: url(../images/Erik.jpg);
        }

    }

    &__heading {
        font-size: 1.2rem;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: .35rem;
        text-align: right;
        color: $color-white;
        position: absolute;
        top: 13rem;
        right: 0rem;
        width: 75%;

        @include respond(desktop) {
            font-size: 1rem;
            letter-spacing: .1rem;
            width: 100%;
          }
    }

    &__heading-span {
        padding: 1rem 1.5rem;
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;

        
        &--1 {
            background-image: linear-gradient(to right bottom,
             rgba($color-primary, .85),
             rgba($color-primary-dark, .85));
        }

        &--2 {
            background-image: linear-gradient(to right bottom,
             rgba($color-primary, .85),
             rgba($color-primary-dark, .85));
        }

        &--3 {
            background-image: linear-gradient(to right bottom,
             rgba($color-primary, .85),
             rgba($color-primary-dark, .85));
        }

        &--4 {
            background-image: linear-gradient(to right bottom,
             rgba($color-primary, .85),
             rgba($color-primary-dark, .85));
        }

        &--5 {
            background-image: linear-gradient(to right bottom,
             rgba($color-primary, .85),
             rgba($color-primary-dark, .85));
        }

        &--6 {
            background-image: linear-gradient(to right bottom,
             rgba($color-primary, .85),
             rgba($color-primary-dark, .85));
        }

        &--7 {
            background-image: linear-gradient(to right bottom,
             rgba($color-primary, .85),
             rgba($color-primary-dark, .85));
        }

        &--8 {
            background-image: linear-gradient(to right bottom,
             rgba($color-primary, .85),
             rgba($color-primary-dark, .85));
        }
    }

    &__details {
        padding: 1rem;

        ul {
            list-style: none;
            width: 100%;
            margin: 0 auto; 

            li {
                text-align: center;
                font-size: 1.2rem;
                padding: 1rem;

                @include respond(desktop) {
                    font-size: 1.1rem;
                  }

                &:not(:last-child) {
                    border-bottom: 1px solid $color-grey-light-2;
                }
            }

        }
    }

    //  FRONT SIDE STYLING
    &__cta {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        text-align: center;
    }

    &__price-box {
        text-align: center;
        color: $color-white;
        margin-bottom: 8rem;
    }

    &__price-only {
        font-size: 1.4rem;
        text-transform: uppercase;
    }

    &__price-value {
        font-size: 6rem;
        font-weight: 100;   //when you have big font it looks better for it to be thin
    }

}